body{
  margin: 10px;
}

.country-info{
  margin: 20px;
}

.country-info img{
  display: block;
  margin: 10px;
  width: 100px
}

section{
  margin-top: -1px;
  border: 1px solid black;
}

.visited{
  background-color: rgb(206, 184, 227) ;
}

.not-visited{
  background-color: rgb(245, 243, 183);
}

h2{
  padding: 20px;
  display: inline-block;
  border: 1px solid black;
  margin-bottom: 0;
}

.visited-header{
  background: rgb(206, 184, 227) ;
  border-bottom: 2px solid rgb(206, 184, 227) ;
}

.countries-header{
  background: rgb(245, 243, 183);
  border-bottom: 2px solid rgb(245, 243, 183);
}


.hidden{
  display: none;
}